
.center{
    display:flex;
    justify-content: space-between;
   padding-bottom:2vw;
    height:65vh;
    width:100%;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.left h3{
width:23vw;
font-size: 1.5vw;
font-family: sans-serif;
}

.right h1{
    font-size: 10vw;
    width:40vw;
    font-family: sans-serif;
    line-height: 8vw;
    text-align: right;
}

#page1 video {

width:100%;
border-radius: 2vw;
margin-top:5vh;
position: relative;
z-index:9;

}


.background__circle{
    width:30vw;
    height:40vw;
background-color: rgb(255, 60, 0);
position: absolute;
border-radius: 50%;
top:0;
right:0;
filter:blur(20px);
animation-name:anime;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
}

.background__circle2{
    width:30vw;
    height:30vw;
    background-color: rgb(255, 60, 0);
    position: absolute;
    border-radius: 50%;
    top:0;
    right:0;
    filter:blur(20px);
    animation-name: anime3;
    animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
  
}
.background__circle3{
    width:30vw;
    height:30vw;
    background:linear-gradient(rgba(242, 93, 34, 0.955),rgb(255, 60, 0));
    position: absolute;
    border-radius: 50%;
    top:0;
    right:0;
    filter:blur(20px);
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
}

@keyframes anime {
    from{
        transform:translate(10%,10%);
    }
    to{
        transform:translate(-30%,-20%)
    }
}

@keyframes anime2 {
    from{
        transform:translate(0%,0%)
    }
    to{
        transform:translate(20%,-10%) ; 
    }
}
@keyframes anime3 {
    from{
        transform:translate(0%,0%)
    }
    to{
        transform:translate(10%,-20%)
    }
}

.page1__video{
    position: relative;
    z-index:9;

}

#page2{
    width:100%;
    min-height: 100vh;
  
    margin-top:3vw;


}
.moving__text{
    white-space: nowrap;
    overflow-x: auto;
 
    
}
.moving__text::-webkit-scrollbar{
    display: none;
}

.moving__text-content{
    white-space: nowrap;
    display:inline-block;
    animation-name: ContentScroll;
    animation-timing-function: linear;
    animation-duration: 9s;
    animation-iteration-count: infinite;
   

}
.moving__text-content h1{

    display:inline-block;
    font-size:8vw;
    font-family: sans-serif;
    white-space: nowrap;
}

#gola{
    display: inline-block;
    height:70px;
    width:70px;
    background-color: rgb(255, 77, 0);
    border-radius: 50%;
    margin:1vw 2vw;
}

/*
.moving__text{
    display: flex;
    justify-content: space-between;
gap:2vw;
}

.moving__text-content{
    display: flex;
    justify-content: space-evenly;
    gap:2vw;
    align-items: center;
    animation-name: ContentScroll;
    animation-timing-function: linear;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}



.moving__text-content h1{
    font-size: 8vw;
    font-family: sans-serif;
}

#gola{
height:3.5vw;
width:3.5vw;
background-color: orangered;
border-radius: 50%;
}
*/

@keyframes ContentScroll {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
} 
@media (max-width:750px){

    .center{
        display:flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      height:30vh;

    }
    .right h1{
        line-height: 9vw;
    }
 .left {
    display:flex;
    width:100%;
height:100vh;
align-items: flex-end;
 }

 .left h3 {
    width:60vw;
    font-size: 4vw;
 }
    
 #gola{
    display: inline-block;
    height:5vw;
    width:5vw;
    background-color: rgb(255, 77, 0);
    border-radius: 50%;
    margin:0.5vw 2vw;
}



}