.center {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
  height: 65vh;
  width: 100%;
  align-items: flex-end;
  border-bottom: 1px solid black;
}

.left h3 {
  width: 23vw;
  font-size: 1.5vw;
  font-family: sans-serif;
}

.right h1 {
  font-size: 10vw;
  width: 40vw;
  font-family: sans-serif;
  line-height: 8vw;
  text-align: right;
}

#page1 video {
  width: 100%;
  border-radius: 2vw;
  margin-top: 5vh;
  position: relative;
  z-index: 9;
}

.background__circle {
  width: 30vw;
  height: 40vw;
  background-color: rgb(255, 60, 0);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(20px);
  animation-name: anime;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.background__circle2 {
  width: 30vw;
  height: 30vw;
  background-color: rgb(255, 60, 0);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(20px);
  animation-name: anime3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.background__circle3 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(rgba(242, 93, 34, 0.955), rgb(255, 60, 0));
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(20px);
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes anime {
  from {
    transform: translate(10%, 10%);
  }
  to {
    transform: translate(-30%, -20%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(20%, -10%);
  }
}
@keyframes anime3 {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(10%, -20%);
  }
}

.page1__video {
  position: relative;
  z-index: 9;
}

#page2 {
  width: 100%;
  min-height: 100vh;

  margin-top: 3vw;
  background-color: #efeae3;
}
.moving__text {
  white-space: nowrap;
  overflow-x: auto;
}
.moving__text::-webkit-scrollbar {
  display: none;
}

.moving__text-content {
  white-space: nowrap;
  display: inline-block;
  animation-name: ContentScroll;
  animation-timing-function: linear;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
.moving__text-content h1 {
  display: inline-block;
  font-size: 8vw;
  font-family: sans-serif;
  white-space: nowrap;
}

#gola {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-color: #fe330a;
  border-radius: 50%;
  margin: 1vw 2vw;
}

#page2__content {
  display: flex;
  margin-top: 8vw;
  padding: 4vw 6vw;
  justify-content: space-between;
}
.page2__left {
  width: 52vw;
  position: relative;
}

.page2__left h1 {
  font-size: 3.6vw;
  font-weight: 700;
  font-family: sans-serif;
  z-index: 9;
  position: relative;
  letter-spacing: 0.2px;
}
.page2__left-circle1 {
  width: 30vw;
  height: 30vw;
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0;
  left: 40%;

  filter: blur(30px);
  z-index: 5;

  animation-name: circle1;

  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

@keyframes circle1 {
  from {
    transform: translate(-10%, 0%) skew(3deg, 2deg);
  }
  to {
    transform: translate(-30%, 10%);
  }
}

.page2__left-circle2 {
  width: 30vw;
  height: 30vw;
  background-color: rgb(255, 145, 0);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0;
  left: 40%;
  filter: blur(30px);
  opacity: 0.9;

  animation-name: circle2;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: linear;
}

@keyframes circle2 {
  from {
    transform: translate(-10%, 0%);
  }
  to {
    transform: translate(-30%, 10%);
  }
}

.page2__right {
  margin-top: 6vw;
}
.page2__right img {
  width: 17vw;
  border-radius: 10px;
}

.page2__right p {
  font-family: sans-serif;
  width: 17vw;
  font-weight: 300;
  line-height: 1.1vw;
  margin-top: 1.4vw;
}



@keyframes ContentScroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

#page3 {
  margin-top: 3vw;
  min-height: 100vh;
  width: 100%;
  /* background-color: #efeae3; */
}
.page3__bar1 {
  width: 100%;
  height: 11vh;
  border-top: 1px solid gray;
  display: flex;
  position: relative;
  overflow: hidden;
}

.page3__bar1 h1 {
  z-index: 9;
  position: relative;
  padding: 2vw 2vw;
  font-size: 3vw;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: sans-serif;
}

.page3__bar1::before {
  content: "";
  width: 100%;
  height: 11vh;
  background-color: orange;
  top: -110%;
  position: absolute;
  left: 0;
}

.page3__bar1:hover::before {
  top: 0;
  height: 11vh;
  transition: 0.2s linear;
}

.fixed-container {
  position: fixed;
  height: 29vw;
  width: 23vw;
  background-color: aqua;

  left: 50%;
  top: 30%;
  z-index: 80;
  border-radius: 3%;
  display: none;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-delay: 0.5s;
 

  transition: 0.5s linear;
}



#page4 {
  height: 90vh;
  max-width: 100%;
  background-color: rgb(5, 5, 5);
  margin: 3vw 4vw;
  border-radius: 16px;


}
.page4__card {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4vw;
  
}

.page4__left {
  display: flex;
  flex-direction: column;
  color: white;
  width: 35%;
  align-items: center;
  justify-content: center;
  height: 100%;
  

  margin-left: 7vw;
}

.page4__left h1 {
  font-size: 4vw;
  font-family: sans-serif;
  border-left: 2.3px solid rgb(102, 100, 100);
  padding-left: 1vw;
  color: rgb(102, 100, 100);
}

.page4__left-headings {
  width: 32vw;

  /* padding-left:1.5vw; */
  border-radius: 1vw;
}

.heading.active {
  border-left: 3px solid red; /* Border for active heading */
  color: white;
}

.page4__left-para p {
  
  
  margin-top: 2vw;
  width: 25vw;
  margin-right:6.5vw;
  font-weight: 300;
  line-height: 1.5vw;
  font-family: sans-serif;
  font-size: 1vw;
}

.page4__right {
  height: 100%;
  width: 65%;
  
  background-image: url('https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project.webp');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border-radius: 0.8vw;

}


#page5{
width:100%;
height:50vh;

position: relative;
overflow: hidden;
cursor: none;
background-color: #efeae3;
}

.page5__slide-container{
display: flex;
flex-wrap: nowrap;
flex-shrink: 0;
width:100%;
  padding:4.5vw;


overflow-x: auto;
gap:8vw;



}

.cursor{
  width:6vw;
  height:6vw;
  border-radius: 50%;
background-color: orangered;

  position: absolute;
  z-index: 1000;
  display: block;
  pointer-events: none;
 animation-name:Cursoranim;
 animation-duration: 0.5s;
 animation-timing-function: cubic-bezier(0, 0, 0.76, 0.29);
 
}

.cursor img {
  height: 80%;  
  width: 1vw; 
object-fit: contain;



}

#cursor__left{
  position:absolute;
  left:2vw;
  top:0.6vw;
}

#cursor__right{
  position:absolute;
  right:2vw;
  top:0.6vw;
}

.down_div{
  width:100%;
  height:100vh;

}


.wrapper{
  background-color: #efeae3;
  position: relative;
  z-index:100;
}

.main{
  background-color: black;
  z-index:70;
  position: relative;

}  


footer {
  position:fixed;
bottom:0;

min-height:100vh;
z-index: 71;

}

footer h1{

  color:white;
 font-size: 21.5vw;
  font-family: sans-serif;
  z-index: 71;
  position: relative;
  
  
}

.footer_heading h1{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;

}

.footer-golu1{
  position:absolute;
  bottom:50vh;
  height:90vh;
left:-30px;
  width:60%;
  background:linear-gradient(rgb(245, 52, 4),#fe330a);
  filter:blur(22px);

  animation-name:footergolu1;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:normal;
animation-timing-function: ease;
border-radius: 30%;

}

.footer__headings-para p{
  color:white;
  font-size: 1.1vw;
  font-family: sans-serif;
  font-weight: 100;
  width:20vw;
  position: absolute;
  right:0;
left:58vw;
top:0.2vw;
}
.footer__headings{
  width:100vw;

  

}

#footer-input{
  position: absolute;
  right:0;
  bottom:31vw;
 left:58vw;

}
input[type="email"]{
  width:18vw;
  height: 3vw;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 1px solid white;
}

input::-webkit-input-placeholder{
  color:#ffffff6a;
  font-size:1vw;

  font-family: sans-serif;
  font-weight: 100;
  

}

input[type="email"]:focus {
  outline: none;
  color:white;
  font-size:1vw;
  font-weight: 100;
  font-family: sans-serif;
}


input[type="email"]::content{
color:rgba(255, 255, 255, 0.962);
}

button[type="submit"]{
  border:none;
  background-color:transparent;
  position:absolute;
top:0.8vw;
  right:20.7vw;
  
}
button[type="submit"] img{
  width:1.5vw;


}

button[type="submit"]:focus{
  color:white;
}




@keyframes footergolu1 {
  from {
   transform:translate(0);
    border-bottom-left-radius: 0%;  
    border-bottom-right-radius: 0%; 
  }
  to{
    transform:translateY(10vh) skewY(-20deg) skewX(2deg);
    border-bottom-right-radius: 50%;  
    border-bottom-left-radius: 0%;  
    /* border-bottom-right-radius: 80%;  */
  }
}


.footer-golu2{
  position:absolute;
  bottom:20vh;
  height:100vh;
  width:100%;
  left:40vw;
  background:linear-gradient(rgb(245, 52, 4),rgb(245, 52, 4));
  filter:blur(22px);
  animation-name:footergolu2;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:normal;
animation-timing-function: ease;

border-radius: 30%;
}

@keyframes footergolu2 {
  from {
    transform:translate(0);
     border-bottom-left-radius: 90%;  
     border-bottom-right-radius: 0%; 
   }
   to{
     transform:translateY(10vh) skewY(5deg) ;
     border-bottom-left-radius: 60%; 
     border-bottom-right-radius: 10%;  
      
     /* border-bottom-right-radius: 80%;  */
   }
}

.footer__headings {
  position:relative;
 height:70vh;
 width:100%;
  display:flex;
  gap:1vw;
left:0;
top:32vh;
left:10vw;


}

.footer__headings h1{
  font-size: 2.2vw;
font-family: sans-serif;
font-weight: 600;
line-height: 3vw;


}

/* .footer-golu{
  position:absolute;
  bottom:60vh;
  width:101%;
  height:100vh;
  background:linear-gradient(rgb(255, 157, 0),orangered);
  filter:blur(18px);
animation-name:footergolu;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}

@keyframes footergolu {
  from {
    transform: translateY(0) ;  
    border-bottom-left-radius: 0%;  
    border-bottom-right-radius: 0%; 
  }
  to {
    transform: translateY(50vh) ;
    border-bottom-left-radius: 60%;  
    border-bottom-right-radius: 60%; 
  }
} */



@keyframes Cursoranim {
  
from{
  transform: scale(0.6);
  transition:transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
to{
  transform:scale(1);
 
}

}

.page5__slide-container::-webkit-scrollbar{
  display:none;
}



.page5__slide{
 text-align: justify;
  flex: 0 0 20vw; 
  height:13vw;

  border-left:1px solid rgba(161, 158, 158, 0.595);

  padding-left:1vw;
  word-spacing: -2px;
  

}

.page5__slide p{
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.3vw;
  width:18vw;
  
  
  font-size: 0.9vw;
  padding-left:0.8vw;
  word-spacing: -2px
 

}

.page5__slide img{
  height:4.5vw;
  padding:0.5vw;
  width:10vw;
}


@media (max-width: 750px) {
  .center {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 30vh;
  }
  .right h1 {
    line-height: 9vw;
  }
  .left {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
  }

  .left h3 {
    width: 60vw;
    font-size: 4vw;
  }

  #gola {
    display: inline-block;
    height: 5.8vw;
    width: 5.8vw;
    background-color: #fe330a;
    border-radius: 50%;
    margin: 0.5vw 2vw;
  }

  .wrapper {
    background-color: #efeae3;
    position: relative;
    z-index: 100;
    min-width: 101vw;
}
#page1 {
  width: 100%;
  min-height: 85vh;
  background-color: #efeae3;
  position: relative;
  padding: 0 2.4vw;
}
.moving__text-content h1 {
  display: inline-block;
  font-size: 11vw;
  font-family: sans-serif;
  white-space: nowrap;
}

.page2__right p {
  font-family: sans-serif;
  width: 73vw;
  font-weight: 300;
  line-height: 4.1vw;
  margin-top: 1.4vw;
}
#page2__content {
  display: flex;
  margin-top: 8vw;
  justify-content: space-between;
  padding: 4vw 6vw;
  flex-direction: column;
}

.page2__left h1 {
  font-size: 7.6vw;
  font-weight: 700;
  font-family: sans-serif;
  z-index: 9;
  position: relative;
  letter-spacing: 0.2px;
  width:96vw;
  
 text-align: start;
}
.page2__right img {
  width: 87vw;
  border-radius: 10px;
}

.page4__card {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4vw;
  flex-direction: column;
}
.page4__left h1 {
  font-size: 12vw;
  font-family: sans-serif;
  border-left: 2.3px solid rgb(102, 100, 100);
  padding-left: 1vw;
  color: rgb(102, 100, 100);
}

.page4__left-para p {
  margin-top: 2vw;
  width: 89vw;
  /* margin-right: 6.5vw; */
  font-weight: 300;
  line-height: 6.5vw;
  font-family: sans-serif;
  font-size: 3.8vw;
  /* margin-left: 60vw; */
margin-left:48vw;
 padding:10vw;

}

.page4__right {
width:100%;
border-radius:4vw;
height:100%;
}

.page4__left-headings {
  width: 76vw;
  /* padding-left: 1.5vw; */
  border-radius: 1vw;
  margin: 0 auto;
  padding-top: 10vw;
  padding-left: 2vw;
}

.page5__slide img {
  height: 11.5vw;
  /* padding: 0.5vw; */
  width: 43vw;
  padding-right: 14vw;
  padding-bottom:2vw;
}

.page5__slide p {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 4.3vw;
  width: 43vw;
  font-size: 2.9vw;
  padding-left: 3.4vw;
  word-spacing: -2px;
}

.page5__slide {
  text-align: justify;
  flex: 0 0 20vw;
  height: 43vw;
  border-left: 1px solid rgba(161, 158, 158, 0.595);
  padding-left: 1vw;

}



.page5__slide-container {
margin-top:15vw;
}

.footer__headings {
  position: relative;
  height: 89vh;
  width: 100%;
  display: flex;
  gap: 1vw;
  left: 0;
  top: 32vh;
  left: 10vw;
}

footer{
  overflow-x: hidden;
  min-width:100vw;

}

body{
  overflow-x: hidden;
}

.footer__headings h1 {
  font-size: 7.2vw;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 9vw;
}
.footer__headings-para p {
  color: white;
  font-size: 3.3vw;
  font-family: sans-serif;
  font-weight: 100;
  width: 39vw;
  position: absolute;
  right: 0;
  left: 47vw;
  top: 8.2vw;
}


#footer-input {
  position: absolute;
  right: 0;
  /* bottom: 26vw; */
  left: 47vw;
  top: 20vw;
}

input[type="email"]{
  width:29vw;
  height: 6vw;
  background-color: transparent;
  appearance: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top:4vw;
}


input[type="email"]::-webkit-input-placeholder{
  font-size: 3.5vw;
}

button[type="submit"] {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 4.5vw;
  right: 23.7vw;
}

button[type="submit"] img{
  width:4vw;
}
}
